<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <h3 class="ion-no-margin">Peliculas nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [peliculasRecientes]="peliculasRecientes" ></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <h3 class="ion-no-margin">Cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slideshow-poster [peliculas]="peliculasRecientes"></app-slideshow-poster>
  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <h3 class="ion-no-margin">Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-pares [peliculas]="populares" (cargarmas)="cargarMas()"></app-slideshow-pares>

</ion-content>
 